@{
    ViewData["Title"] = "Home Page";
}

<div class="wrap">
    <img src="/images/surgery.jpg" class="w-100">
    <div class="content w-100 h-100 d-flex justify-content-center align-items-center background-image-cover px-3">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <h1 class="text-light" style="font-size: 8rem;">CARING FOR LIFE</h1>
            <p class="text-light fs-3 mt-3">Leading the way in Medical Excellence</p>
        </div>
    </div>
</div>
<div class="" style="height: 100vh;">

</div>
