@{
    ViewData["Title"] = "Home Page";
}

<div class="wrap">
    <img src="/images/surgery.jpg" class="w-100">
    <div class="content w-100 h-100 d-flex justify-content-center align-items-center background-image-cover px-3">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <h1 class="text-light" style="font-size: 8rem;">CARING FOR LIFE</h1>
            <p class="text-light fs-3 mt-3">Leading the way in Medical Excellence</p>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center" style="height: 60vh">
    <div class="d-flex w-50 shadow p-3 mb-5 bg-white rounded" style="margin-top: -10rem; position: absolute; z-index: 999;">
        <div class="p-4" style="width: 40%;">
            <p class="fs-4" style="font-weight: 500;">EMERGENCY CASES</p>
            <p>Call Now:</p>
            <div>
                <p class="fs-4" style="font-weight: 500; color: #568AF8;">+1 (876) 123-12345</p>
                <p><span style="font-weight: 500;">Address 1:</span> <span style="color: #959595;"> 6110 Athens Place Washington, DC-20521-7100</span></p>
                <p><span style="font-weight: 500;">Address 2:</span> <span style="color: #959595;"> Medical Health Place 226 Fifth Avenue New York, NY 14354</span></p>
                <p><span style="font-weight: 500;">Working Time:</span> <span style="color: #959595;"> Mon - Sat/ 07:00 -17:00 Sunday/ 8:00 - 11:00</span></p>
                <p><span style="font-weight: 500;">Email:</span> <span style="color: #959595;">  martiesupport@medical.com</span></p>
            </div>
        </div>
          <div class="vr"></div>
        <div class="p-4" style="width: 60%;">
            <p class="fs-4" style="font-weight: 500;">REQUEST APPOINTMENT</p>
            <div class="d-flex">
                        <input class="input-form mx-1 my-2 w-50" placeholder="Name*"/>
                        <input class="input-form mx-1 my-2 w-50" placeholder="Phone*"/>
                    </div>
                    <div class="d-flex">
                        <input class="input-form mx-1 my-2 w-50" placeholder="Email*" type="email"/>
                        <input class="input-form mx-1 my-2 w-50" style="color: rgba(0, 0, 0, 0.5)" placeholder="Date*" type="datetime-local"/>
                    </div>
                    <div class="d-flex">
                        <select  class="input-form mx-1 my-2 p-0 w-50" style="color: rgba(0, 0, 0, 0.5)">
                            <option>Departments</option>
                        </select>
                        <select  class="input-form mx-1 my-2 p-0 w-50" style="color: rgba(0, 0, 0, 0.5)">
                            <option>Doctors</option>
                        </select>
                    </div>
                    <textarea class="input-form mx-1 my-2" style="height: 10rem; width: 98%;" placeholder="Message *"></textarea>   
                    <a class="btn btn-primary px-5 py-3 mx-1 my-2 border-" style="background-color: #568AF8;">SUBMIT NOW</a>     
            </div>
        </div>
</div>
