@{
    ViewData["Title"] = "Success";
}

<div class="d-flex w-100 justify-content-center" style="height: 80vh;">
    <div class="mt-5">
        <h1 class="text-success">Appointment Made Successfully!</h1>
        <a class="btn btn-primary px-5 py-3 mx-1 my-4 text-center w-100" asp-action="Index" style="background-color: #568AF8;">Return Home</a>
    </div>
</div>